body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    min-height: 1000px;
}

* {
    box-sizing: border-box;
}

.container {
    width: 75%;
    margin: auto;
}

/* menu chính */
.nav {
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    background-color: rgb(219, 217, 217);
    height: 100px;
    padding: 0 30px;
    /* position: fixed;
    top: 0; */
}
.menu {
    display: flex;
    justify-content: space-between;
    width: 60%;

}
.menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu a {
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #717171;
}
.menu a:hover {
    color: #72aec8;
}
.icon i {
    padding: 0 10px;
}
.icon i:hover {
    cursor: pointer;
}
.menu>ul>li {
    position: relative;
}
.menu ul .sub-menu {
    display: none;
    width: 150px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    box-shadow: 0 0 5px gray;
    margin-top: 5px;
}
.menu>ul>li:hover>.sub-menu {
    display: block;
}
.sub-menu>li:hover {
    background-color:rgb(219, 217, 217) ;
}

.sub-menu li {
    padding: 15px 0;
}

/* banner */
.banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* height: 700px; */
    background-color: #EDF1F3;

}
.slogan {
    /* position: absolute; */
   
    width: 50%;
    margin-left: 200px;
    margin-top: 150px;

}
.banner-img{
    width: 50%;
}
.banner-img img {
    width: 100%;
    /* height: 700px; */
}
.slogan h1 {
    font-size: 85px;
    font-weight: 300;
    /* width: 400px; */
    
}
.slogan a {
    padding: 16px 43.2px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.banner i {
    font-size: 90px;
    /* font-weight: 100; */
    position: absolute;
}
.fa-angle-left {
    left: 0;
    top: 40%
}
.fa-angle-right {
    right: 0;
    top: 40%
}
.banner i :hover{
    color: #72aec8;
}
.service{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.d-flex{
    display: flex;
    gap: 20px;
}
.col-3{
    width: 25%;
    padding: 5px;
    margin:10px
}

.s-content h3{
    margin:0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
}

.s-content p{
    color:rgb(184, 184, 184);
}
.service .col-3 i {
    color:#72aec8;
    font-size: 24px;
}
.space-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.tittle-section h2 {
    text-transform: uppercase;
}

.p0{
    padding:0;
}
.m0{
    margin:0;
}
.img100{
    width: 100%;
    height:auto;
}
.product-info a{
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.product-info a:hover{
    color:#72aec8;
}
.product-info p{
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}
.btn{
    padding: 12px 44px;
    background-color: black;
    color:white;
    border-radius: 5px;
    letter-spacing: 1.5px;
    word-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 1;
}
.p-relative{
    position: relative;
}
.products .col-3{
    border: none;
}
.shop-1:hover{
    text-decoration: none;
}

/* banner-1 */
.banner-1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* height: 700px; */
    background-color: #EDF1F3;
}
.slogan-1 h2 span{
     font-size: 30px;
     font-weight: 800px;
}
.slogan-1 {
    /* position: absolute; */
   
    width: 50%;
    margin-left: 200px;
    margin-top: 150px;

}
.banner-img{
    width: 50%;
}
.banner-img img {
    width: 100%;
    /* height: 700px; */
}
.slogan-1 h2 {
    font-size: 50px;
    font-weight: 300;
    /* width: 400px; */
}
.slogan-1 a {
    padding: 16px 43.2px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.col-4{
    width: 33.3%;
    padding: 0px;
}
.d-flex-1{
    display: flex;
    gap: 20px;
}
.col-4 .product-info .font-size-1 p{
    font-size:10px;
    font-variant: normal;
}



.footer {
  background-color: black;
  color: #fff;
  padding: 40px 60px;
  font-family: sans-serif;
  /* border-top: 5px solid #FFD600; */
}

.footer-container {
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-col4 {
  flex: 1 1 220px;
  line-height: 1.5;
  min-width: 220px;
}

.footer h3 {
  font-weight: bold;
  margin-bottom: 15px;
  color: #fff;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 8px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.logo {
  width: 70px;
  object-fit: cover;
}

.slogan {
  font-weight: bold;
  margin-top: 5px;
}

.social-icons a {
  display: inline-block;
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
}

.email-form {
  display: flex;
  margin-top: 10px;
}

.email-form input {
  padding: 8px 12px;
  border: 1px solid ;
  border-right: none;
  border-radius: 20px 0 0 20px;
  flex: 1;
  outline: none;
}

.email-form button {
  padding: 8px 20px;
  background-color: #ffffff;
  color: #717171;
  border: 1px solid #ffffff;
  border-left: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-weight: bold;
}

.email-form button:hover {
  background-color: #717171;
  color: #fff;
}
